<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="employees" routerLinkActive="active">Employee List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="create-employee" routerLinkActive="active">Add Employee</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet> <!--Load component based on route-->
</div>

<footer class="footer"> <!--Custom style at style.css-->
    <div class="container">
        <span>
            All Right Reserved 2023 @SangEnemy</span>
    </div>
</footer>