<div class="col-md-6 offset-md-3">
    <h3>Create Employee</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName"
                required>
        </div>
        <br>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName"
                required>
        </div>
        <br>
        <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="email" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId"
                required>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>